{%  extends 'base.html' %}
{% load static %}

{% block css_block %}
<link href="{% static "assets/plugins/custom/datatables/datatables.bundle.css"%}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
 Same System hosts in different network
{% endblock %}

{% block subheader-item %}

{% endblock %}

{% block subheader-button %}
<input type="text" id="search_box_input" class="form-control form-control-solid" placeholder="Search Here"/>
{% endblock %}

{% block body %}
<!--begin::body-->
<div class="card card-flush shadow-sm">
  
    <div class="card-body py-5">
        <!--begin::Datatable-->
        <table id="kt_datatable_host_nw" class="table table-row-dashed table-rounded border border-gray-300 table-row-bordered table-row-gray-300 gy-7 gs-7">
            <thead>
            <tr class="text-gray-400 fw-bolder fs-6 text-uppercase gs-0 table_header h1-font-size" align="center">                    
                <th>DB SID</th>
                <th>Resource Pool</th>
                <th>No.System</th>
            </tr>
            </thead>
            <tbody class="text-gray-600 fw-bold fs-5" id="tabel_body">
                
            </tbody>
        </table>
        <!--end::Datatable-->
    </div>
</div>
<!--end::body-->

<!--begin::search draw-->
<div id="kt_drawer_example_advanced" class="bg-white" data-kt-drawer="true" data-kt-drawer-activate="true" data-kt-drawer-toggle="#kt_drawer_example_advanced_button" data-kt-drawer-close="#kt_drawer_example_advanced_close" data-kt-drawer-name="docs" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'300px', 'md': '350px'}">
    <div class="card card-px-1">
        <div class="card-header card-header-stretch">
            <div class="card-toolbar">
                <ul class="nav nav-tabs nav-line-tabs nav-stretch fs-6 border-0">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#search_tab">Search</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="search_tab" role="tabpanel">
                    <div class="card-body-" id="search_form">                                
                        <div class="form-group">                            

                            <div class="form-floating mb-7">                                
                                <input type="text" class="form-control form-control-solid kt-input" id="floatingPassword" placeholder=" " data-col-index="5" />
                                <label for="floatingPassword">DB-SID</label>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <button type="button" style="margin-right: 30px;" class="btn btn-light" id="m_reset">Reset</button>
            <button type="button" class="btn btn-primary float-right" id="m_search">Search</button>
        </div>
    </div>
</div>
<!--end::search draw-->
{% endblock %}

{% block js_block %}
<script src="{% static "assets/plugins/custom/datatables/datatables.bundle.js"%}"></script>
<script src="{% static "assets/js/pages/spc_cld/host_in_diff_nw.js"%}" type="text/javascript"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>

{% endblock %}
