::-webkit-scrollbar {
    width: .6em;
    height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
    -webkit-box-shadow: inset 0 0 100px rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(89, 199, 243);
  border-radius: 1px;
  width: .1em;
  outline: 1px solid rgb(178, 210, 241);
}

.chart_scrol{
  width: 95em;
  overflow-x: auto;
  white-space: nowrap;
 }
 
 .topmorgin{
  margin-top: 25px;
}

 .top_margin_10{
  padding-top: 20px;
 }