{%  extends 'base.html' %}
{% load static %}

{% block subheader %}
<!-- IF YOU DONT WANT THE SUB-HEADER JUST ENABLE -->
{% endblock %}

{% block css_block %}
<!-- PAGE SPECIFIC CSS -->
{% endblock %}

{% block page_title %}
 <!-- PAGE_NAME -->
{% endblock %}

{% block subheader-item %}
<!-- <li class="breadcrumb-item"><a href="" class="text-muted">General</a></li> -->
<!-- SUB_HEADER URL -->
{% endblock %}

{% block subheader-button %}
<!-- ANY BUTTON IN SUB-HEADER -->
{% endblock %}

{% block body %}
<!-- BODY CONTENT HERE -->
{% endblock %}

{% block js_block %}
<!-- PAGE SPECIFIC JAVASCRIPT -->
{% endblock %}
