{%  extends 'base.html' %}
{% load static %}

{% block css_block %}
<link href="{% static "assets/css/pages/roster/shifts.css"%}" rel="stylesheet" type="text/css" />
<link  href="{% static "assets/plugins/custom/jkanban/jkanban.bundle.css"%}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
 {{page_title}}
{% endblock %}

{% block subheader-item %}
<select id="team_dropdown_btn" class="form-select form-select-sm form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="Select Team" data-allow-clear="false" data-col-index="3"></select>
{% endblock %}

{% block subheader-button %}

<div class="me-3">
    <a href="#" class="btn btn-sm btn-flex btn-primary btn-active-primary fw-bolder" data-bs-toggle="modal" data-bs-target="#model_shift_status">Update Shift Status</a>
</div>

<div class="me-3">
    <a href="#" class="btn btn-sm btn-flex btn-primary btn-active-primary fw-bolder" data-bs-toggle="modal" data-bs-target="#model_apply_leave">Update Leave</a>
</div>

{% endblock %}

{% block body %}
<div id="kt_docs_jkanban_rich"></div>
<!-- <div id="holiday_info_div"></div> -->

<div class="row" id="data_div"></div>

{% endblock %}

{% block js_block %}
<script src="{% static "assets/plugins/custom/jkanban/jkanban.bundle.js"%}"></script>
<!-- <script type="text/javascript">
    var current_user_team = "{{user.team.code}}"
</script> -->
<!-- <script src="{% static "assets/js/pages/roster/shift_dom.js"%}"></script>
<script src="{% static "assets/js/pages/roster/daily_shift.js"%}"></script> -->
<script src="{% static "assets/js/pages/shiftpasstool/shiftpasstool_create.js"%}"></script>
{% endblock %}